<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if third %}
  <h2>catch! I catch {{third}}</h2>
  {% else %}
  <h2>catch! I catch nothing</h2>
  {% endif %}

  <form action="/second" method="GET">
    <label for="first">throw!</label>
    <input type="text" id='first' name='first'>
    <input type="submit" value='휙'>
  </form>
</body>
</html>