<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>첫 번쨰 입력 : {{str1}}</h1>
    <input type="text" name="" id="" v-model="str1">
    <h1>두 번째 입력 : {{str2}}</h1>
    <input type="text" name="" id="" v-model="str2">
    <h1>{{str1+str2}}</h1>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.min.js"></script>
  <script>
    const app = new Vue({
      el:"#app",
      data:{
        str1:"",
        str2:"",
      },
    })
  </script>
</body>
</html>